body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    box-sizing: border-box;
}

h3,h2,p,h4{
    margin: 0;
}

header {
    background-color: #24292e;
    padding: 16px;
}
.mobile{
    display: none;
}
#usernameForm {
    max-width: 700px;
    margin: 4em auto;
}

#usernameForm h1{
    font-family: inherit;
    text-align: center;
}
#usernameForm input{
   flex: auto;
    height: fit-content;
    margin-right: 10px;
}
#usernameForm button{
    margin: 0;
    flex: none;
}

.username-input-wrapper{
    display: flex;
}

.error{
    color: red;
    text-align: center;
    font-weight: 600;
    font-family: inherit;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    flex: auto;
}

.nav{
    display: flex;
}


.nav>a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.is-hidden {
    display: none !important;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item{
    margin-right: 16px;
}

.octicon {
    fill: white;
    vertical-align: middle;
}

.input-sm {
    min-height: 28px;
}

.header-search-wrapper {
    display: flex;
    width: 100%;
    max-width: 250px;
    padding: 0;
    font-size: inherit;
    font-weight: 400;
    color: var(--color-text-white);
    vertical-align: middle;
    background-color: #24292e;
    border: 1px solid #444d56;
    box-shadow: none;
    border-radius: 6px;
}

.header-search-input {
    display: table-cell;
    width: 100%;
    padding:0 12px ;
    font-size: inherit;
    color: #fafbfc;
    background: none;
    border: 0;
    box-shadow: none;
}
.header-search-input::placeholder{
    color: #959aa0;
    font-size: 13px;
}
.header-search-key-slash{
    margin-right: 5px;
}
.mail-status {
    position: absolute;
    display: inline-block;
    top: -6px;
    left: 6px;
    z-index: 2;
    width: 14px;
    height: 14px;
    color: var(--color-text-white);
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid var(--color-header-bg);
    border-radius: 50%;
}

.notification-wrapper{
    position: relative;
}

.plus-nav-wrapper{
    display: flex;
    align-items: center;
}

.avatar-nav-wrapper{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
.dropdown-caret {
    width: 0;
    height: 0;
    content: "";
    margin-left: 5px;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.avatar-user {
    border-radius: 50%!important;
}

.sticky-nav{
    margin-top: 24px;
    border-bottom: 1px solid #e1e4e8;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}
.sticky-nav-container{
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.nav-control{
    flex: 3;
}
.sticky-nav nav{
    flex: 9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tab-item {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: #24292e;
    text-align: center;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.octicon-nav{
    fill: grey;
    margin-right: 8px;
}
.active{
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 2px solid salmon;
}

.active svg{
    fill: black;
}
.repository-counter {
    display: inline-block;
    margin-left: 4px;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292e;
    text-align: center;
    background-color: #d1d5da80;
    border: 1px solid transparent;
    border-radius: 2em;
}

.main-content-wrapper {
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.search-wrapper {
    padding: 16px 0;
    border-bottom: 1px solid #e1e4e8;
}
.search{
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: #e1e4e833;
    width: 90%;
}

.search::placeholder{
    color: #76787a;;
}

.profile-wrapper{
    flex: 3;
}
.repository-wrapper{
    flex: 9;
}
.repository-details-wrapper{
    display: flex;
    justify-content: space-between;   
    border-bottom: 1px solid #e1e4e8;
    padding: 18px 0;
}

.button{
    align-self: baseline;
    margin: 10px;
    padding: 4px 13px;
    font-size: 12px;
    line-height: 20px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color;
    border-radius: 6px;
    font-family: inherit;
    vertical-align: middle;
}

.button .octicon{
    fill: #6a737d;
    margin-right: 5px;
    vertical-align: sub;
}

.button:hover{
    cursor: pointer;
}

.repository-details{
    
}
.repository-details-name{
    color: #0366d6;
    margin-bottom: .7em;
}
.repository-details-name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.repository-details-description{
    font-size: 14px;
    color: #6a737d;
    max-width: 600px;
}

.repository-details-stats {
    display: flex;
    color: #6a737d;
    fill: #6a737d;
    font-size: 12px;
    margin-top: 1.5em;
}
.repository-details-stats p{
margin-right: 20px;
}



.repository-details-stats svg{
    fill: inherit;
    vertical-align: bottom;
    margin-right: 5px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.big-avatar{
    margin-top: -30px;
    position: relative;
    z-index: 5;
    border-radius: 50% !important;
}

.avatar-name{
    margin-top: 1em;

}
.avatar-username{
    color: #6a737d;
    margin-top: 3px;
    font-size: 16px;
}
.avatar-bio{
    color: #3a3a3a;
    margin-top: 20px;
}

@media (max-width: 767px) { 
    .header-wrapper{
        display: none;
    }
    .profile-wrapper{
        display: none;
    }
    .repository-details-description{
        max-width: 200px;
    }
    .repository-details-name{
        max-width: 200px;
    }
    .repository-details-stats p:nth-child(2), p:nth-child(3) {
        display: none;
    }
    .nav-control{
        display: none;
    }
    .sticky-nav{
        overflow: scroll;
        margin-top: 0;
    }
    .sticky-nav nav{
        display: flex;
        padding: 0;
    }
    .tab-item{
        padding: 8px 10px;
    }
    .repository-wrapper{
        padding: 15px;
    }
    .search-wrapper{
        padding: 4px 0 20px;
    }
    #usernameForm{
        padding: 10px;
    }
    #usernameForm h1{
        font-size: larger;
    }
    #usernameForm button{
        width: 100%;
        margin-top: 10px;
    }
    #usernameForm input{
        width: auto;
        margin-right: 0;
    }
    .username-input-wrapper{
        flex-direction: column;
    }
    .mobile{
        display: block;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
    }
    .mobile-avatar-wrapper{
        display: flex;
        padding: 15px;
        align-items: center;
    }
    .mobile-avatar-wrapper img{
        margin-right: 15px;
    }
 }