body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

header {
    background: #24292e;
    padding: 16px;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    flex: auto;
}

.nav{
    display: flex;
}


.nav>a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.is-hidden {
    display: none;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-item{
    margin-right: 16px;
}

.octicon {
    fill: white;
    vertical-align: middle;
}

.input-sm {
    min-height: 28px;
}

.header-search-wrapper {
    display: flex;
    width: 100%;
    max-width: 250px;
    padding: 0;
    font-size: inherit;
    font-weight: 400;
    color: var(--color-text-white);
    vertical-align: middle;
    background-color: #24292e;
    border: 1px solid #444d56;
    box-shadow: none;
    border-radius: 6px;
}

.header-search-input {
    display: table-cell;
    width: 100%;
    padding:0 12px ;
    font-size: inherit;
    color: #fafbfc;
    background: none;
    border: 0;
    box-shadow: none;
}
.header-search-input::placeholder{
    color: #959aa0;
    font-size: 13px;
}
.header-search-key-slash{
    margin-right: 5px;
}
.mail-status {
    position: absolute;
    display: inline-block;
    top: -6px;
    left: 6px;
    z-index: 2;
    width: 14px;
    height: 14px;
    color: var(--color-text-white);
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid var(--color-header-bg);
    border-radius: 50%;
}

.notification-wrapper{
    position: relative;
}

.plus-wrapper{
    display: flex;
}
.flex{
    display: flex;
}
.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    background: white;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

.avatar-user {
    border-radius: 50%!important;
}